Seleccione el/la protagonista: 
<select name="actor" id="idactor">
	<option value="0">Seleccione un protagonista</option>			
	##fila##
	<option value="##idactor##">##actor##</option>
	##fila##
</select><br>