##fila##
	##comentario##<br><b>Comentario escrito por: </b> <span style="color:blue" id="spanUsuario" onclick="verPerfil('##escritor##',##tipo##)">##escritor## </span> <b>el dia </b>##Fecha## <br>
	<br>
##fila##