	##fila##
		##critica##<br><u>Critica escrita por: </u> &nbsp;<span style="color:blue" id="spanUsuario" onclick="verPerfil('##escritor##',##tipo##)">##escritor## </span><br>
		<strong>Valoración:</strong> ##valoracion## <br>
		<span id="spanEnlace" onclick="modificarCritica('##Correo##')">##modificar## </span> <br>
		<span id="spanEnlace" onclick="verCritica('##Correo##')"> Ver crítica </span><br>
		<span id="spanEnlace" onclick="eliminarCritica();"> ##eliminarcritica##   </span><br>
	##fila##

	<!-- Después colocar un botón para volver a la página anterior -->
	##anterior##
	<a href="#" onclick="cargar('##letra##',##paginaanterior##)">Anterior</a>
	##anterior##

	<!-- Seguidamente colocar los números de páginas después de colocar el botón de volver -->
	##paginas##
	<a href="#" onclick="cargar('##letra##',##numeropagina##)" style="color: ##color##;">##numeropagina##</a>
	##paginas##

	<!-- Por último colocar el botón de siguiente página -->
	##siguiente##
	<a href="#" onclick="cargar('##letra##',##paginasiguiente##)">Siguiente</a>
	##siguiente##