	
	<br>
	<table border="1">
		<tr>
			<th>Cantidad</th>
			<th>Cine</th>
			<th>Disponible hasta</th>
			<th>Acción</th>
		</tr>
		<tr>
			##fila##
			<td>##cantidad##%</td>
			<td>##cine##</td>
			<td>##dia##/##mes##/##ano##</td>
			<td><span style="color: blue" onclick="imprimirPDF(##id_descuento##)">Imprimir PDF</a></td>
		</tr>
			##fila##
		</table>
	<br>
	<!-- Después colocar un botón para volver a la página anterior -->
	##anterior##
	<a href="#" onclick="cargar(##paginaanterior##)">Anterior</a>
	##anterior##

	<!-- Seguidamente colocar los números de páginas después de colocar el botón de volver -->
	##paginas##
	<a href="#" onclick="cargar(##numeropagina##)" style="color: ##color##;">##numeropagina##</a>
	##paginas##

	<!-- Por último colocar el botón de siguiente página -->
	##siguiente##
	<a href="#" onclick="cargar(##paginasiguiente##)">Siguiente</a>
	##siguiente##
	<br>
	<a href="index.php"> Volver al menú</a>