Seleccione el director/a: 
<select name="director" id="iddirector">
	<option value="0">Seleccione un director/a</option>			
	##fila##
	<option value="##iddirector##">##director##</option>
	##fila##
</select><br>