	<!-- Fichero html que contiene la estructura de las entradas -->

	<!-- Primero colocar las entradas a mostrar en la página -->
	##fila##
	<span onclick="abrirEntrada(##enlaceEntrada##)" style="color: blue">##Titulo##</span> <br>
	<span>##Descripcion##</span><br>
	##fila##
	<br>

	<!-- Después colocar un botón para volver a la página anterior -->
	##anterior##
	<a href="#" onclick="cargar('##letra##',##paginaanterior##)">Anterior</a>
	##anterior##

	<!-- Seguidamente colocar los números de páginas después de colocar el botón de volver -->
	##paginas##
	<a href="#" onclick="cargar('##letra##',##numeropagina##)" style="color: ##color##;">##numeropagina##</a>
	##paginas##

	<!-- Por último colocar el botón de siguiente página -->
	##siguiente##
	<a href="#" onclick="cargar('##letra##',##paginasiguiente##)">Siguiente</a>
	##siguiente##
	<br>