<form action="controlador.php" method="post">

	Añadir nuevo comentario: <br><textarea name="comentario" rows="10" cols="80"></textarea><br>

	<input type="hidden" name="accion" value="ver_foros">
	<input type="hidden" name="id" value="3">
	<input type="submit" name="enviar" value="Enviar comentario">
</form>