	
	##fila##
	<strong>Titulo: </strong><span onclick="abrirForo(##idpost##)" id="spanEnlace">##titulo##:</span><strong>Creado por:</strong> ##creador## <strong>El dia: </strong>##Fecha##<br>
	Numero de comentarios: ##ncomentarios##
	<div style="visibility: hidden">##idpost##</div>
	##fila##

<!-- Después colocar un botón para volver a la página anterior -->
	##anterior##
	<a href="#" onclick="cargar('##letra##',##paginaanterior##)">Anterior</a>
	##anterior##

	<!-- Seguidamente colocar los números de páginas después de colocar el botón de volver -->
	##paginas##
	<a href="#" onclick="cargar('##letra##',##numeropagina##)" style="color: ##color##;">##numeropagina##</a>
	##paginas##

	<!-- Por último colocar el botón de siguiente página -->
	##siguiente##
	<a href="#" onclick="cargar('##letra##',##paginasiguiente##)">Siguiente</a>
	##siguiente##
	<br>