
<table border="1px">	
		<tr>
			<th>Titulo</th>
			<th>Descripcion</th>
			<th>Fecha</th>
			<th>Acción</th>
		</tr>
		##fila##
		<tr>
			<td>##Titulo##</td>
			<td>##Descripcion##</td>
			<td>##Fecha##</td>
			<td colspan="3">
				<span onclick="abrirNotificacion('##Notificacion##')" style="color:blue">Ver notificación</span>
				<span>|</span>
				<span onclick="eliminarNotificacion('##Notificacion##',0)" style="color:red"> Eliminar notificación</span>
			</td>
		</tr>
		##fila##
	</table>

	<!-- Después colocar un botón para volver a la página anterior -->
	##anterior##
	<a href="#" onclick="cargar(##paginaanterior##)">Anterior</a>
	##anterior##

	<!-- Seguidamente colocar los números de páginas después de colocar el botón de volver -->
	##paginas##
	<a href="#" onclick="cargar(##numeropagina##)" style="color: ##color##;">##numeropagina##</a>
	##paginas##

	<!-- Por último colocar el botón de siguiente página -->
	##siguiente##
	<a href="#" onclick="cargar(##paginasiguiente##)">Siguiente</a>
	##siguiente##
	<br>