Nuevo actor:
<form id=formulario_actor>
	Nombre: <input type="text" name="nombre">
	Apellido1: <input type="text" name="apellido1">
	Apellido2: <input type="text" name="apellido2">
	<input type="hidden" name="accion" value="actores">
	<input type="hidden" name="id" value="3">
	<input id="nuevoactor" type="button" value="Añadir Actor" onclick="enviar_actor()">
</form>