Nuevo director:
<form id=formulario_director>
	Nombre: <input type="text" name="nombre">
	Apellido1: <input type="text" name="apellido1">
	Apellido2: <input type="text" name="apellido2">
	<input type="hidden" name="accion" value="directores">
	<input type="hidden" name="id" value="3">
	<input id="nuevoactor" type="button" value="Añadir Director" onclick="enviar_director()">
</form>