.spanComun{
	font-family: sans-serif;
	color: #007bff;
	text-decoration: underline;
}
.spanSeleccionado{
	font-family: sans-serif;
	color: #007bff;
	text-decoration: underline;
	background-color: yellow;
}
.spanEliminar{
	font-family: sans-serif;
	color: #FF0000;
	text-decoration: underline;
}