<label for="idprovincia">Seleccione una provincia: </label> 
<select name="provincia" id="idprovincia">
	<option value="" selected="selected" disabled>-- Seleccione una provincia --</option>			
	##fila##
	<option value="##idprovincia##">##provincia##</option>
	##fila##
</select><br>