<select size="3" id="directores" onclick="add_director(this);" name="selectdirectores" required>
	<option value="" disabled="" selected>--Selecciona un director--</option>
	##fila##
	<option value="##id_director##">##nombre## ##apellido1## ##apellido2##</option>
	##fila##
</select>