<select size="3" id="actores" onclick="add_actor(this);" name="selectactores" required>
	<option value="" disabled="" selected="">--Selecciona un actor--</option>
	##fila##
	<option value="##id_actor##">##nombre## ##apellido1## ##apellido2##</option>
	##fila##
</select>