##fila##
	<p class="cuadroTexto">##comentario##</p><br><b>Comentario escrito por: </b><span id="spanUsuario" onclick="verPerfil('##escritor##',##tipo##)">##escritor## </span><b> el dia </b> ##Fecha## <span onclick="eliminarComentario(##idcomentario1##,'##idcomentario2##','##idcomentario3##')" style="color: red; text-decoration: underline;">Eliminar comentario</span>
	<br>
	<br>
##fila##