	<div id="post">
		##fila##
			##critica##<br><b>Critica escrita por: </b><span id="spanUsuario" onclick="verPerfil('##escritor##',##tipo##)">##escritor## </span><br>
			<strong>Valoración:</strong> ##valoracion## <i class="icon-star"></i><br>
			<span id="spanEnlace" onclick="modificarCritica('##correo##')"> Modificar crítica </span> &nbsp;
			<span id="spanEnlace" onclick="verCritica('##correo##')"> Ver crítica </span>
			<br><br>
		##fila##
	</div>

	<div class="dataTables_paginate fg-buttonset ui-buttonset fg-buttonset-multi ui-buttonset-multi paging_full_numbers">
			<!-- Después colocar un botón para volver a la página anterior -->
			##anterior##
			<a href="#" onclick="cargar('##letra##',##paginaanterior##)" class="previous fg-button ui-button ui-state-default ui-state-disabled">Anterior</a>
			##anterior##

			<!-- Seguidamente colocar los números de páginas después de colocar el botón de volver -->
			##paginas##
			<a href="#" onclick="cargar('##letra##',##numeropagina##)" style="background-color: ##color##;" class="fg-button ui-button ui-state-default">##numeropagina##</a>
			##paginas##

			<!-- Por último colocar el botón de siguiente página -->
			##siguiente##
			<a href="#" onclick="cargar('##letra##',##paginasiguiente##)" class="next fg-button ui-button ui-state-default">Siguiente</a>
			##siguiente##
	</div>