	<!-- Fichero html que contiene los descuentos de la pagina web -->
            <table class="table table-bordered table-striped">
              <thead>
                <tr>
                	<th>Película</th>
                    <th>Cantidad</th>
					<th>Cine</th>
					<th>Disponible hasta</th>
					<th>Acción</th>
                </tr>
              </thead>
              <tbody>
              	##fila##
                <tr class="odd gradeX">
                	<td>##pelicula##</td>
                 	<td>##cantidad##%</td>
					<td>##cine##</td>
					<td>##dia##/##mes##/##ano##</td>
					<td><span style="color: red" onclick="eliminarDescuento(##id_descuento##)">Eliminar descuento</a></td>
                </tr>
				##fila##
              </tbody>
            </table>
		    <br>
		<div class="dataTables_paginate fg-buttonset ui-buttonset fg-buttonset-multi ui-buttonset-multi paging_full_numbers">
			<!-- Después colocar un botón para volver a la página anterior -->
			##anterior##
			<a href="#" onclick="cargar('##letra_cine##','##letra_pelicula##',##paginaanterior##)" class="previous fg-button ui-button ui-state-default ui-state-disabled">Anterior</a>
			##anterior##

			<!-- Seguidamente colocar los números de páginas después de colocar el botón de volver -->
			##paginas##
			<a href="#" onclick="cargar('##letra_cine##','##letra_pelicula##',##numeropagina##)" style="background-color: ##color##;" class="fg-button ui-button ui-state-default">##numeropagina##</a>
			##paginas##

			<!-- Por último colocar el botón de siguiente página -->
			##siguiente##
			<a href="#" onclick="cargar('##letra_cine##','##letra_pelicula##',##paginasiguiente##)" class="next fg-button ui-button ui-state-default">Siguiente</a>
			##siguiente##
		</div>