	<!-- Fichero html que contiene la estructura de las entradas -->

	<!-- Primero colocar las entradas a mostrar en la página -->
	
		##fila##
		<div class="centrar cuadroTexto">
			<strong>Título: </strong><span onclick="abrirEntrada(##enlaceEntrada##)" id="spanEnlace">##Titulo##</span> <br>
			<strong>Descripción: </strong><span>##Descripcion##</span><br><br><br>
			<input type="button" name="eliminar_entrada" value="Eliminar entrada" onclick="eliminarEntrada(##enlaceEntrada##,'##Titulo##')">
		</div>
		##fila##
		<br>
	

	<div class="dataTables_paginate fg-buttonset ui-buttonset fg-buttonset-multi ui-buttonset-multi paging_full_numbers">
			<!-- Después colocar un botón para volver a la página anterior -->
			##anterior##
			<a href="#" onclick="cargar('##letra##',##paginaanterior##)" class="previous fg-button ui-button ui-state-default ui-state-disabled">Anterior</a>
			##anterior##

			<!-- Seguidamente colocar los números de páginas después de colocar el botón de volver -->
			##paginas##
			<a href="#" onclick="cargar('##letra##',##numeropagina##)" style="background-color: ##color##;" class="fg-button ui-button ui-state-default">##numeropagina##</a>
			##paginas##

			<!-- Por último colocar el botón de siguiente página -->
			##siguiente##
			<a href="#" onclick="cargar('##letra##',##paginasiguiente##)" class="next fg-button ui-button ui-state-default">Siguiente</a>
			##siguiente##
	</div>