	<div id="post">
		##fila##
	    <strong>Titulo: </strong><span onclick="abrirForo(##idpost##)" id="spanEnlace">##titulo##.</span><br><strong>Creado por: </strong><span id="spanUsuario" onclick="verPerfil('##creador##',##tipo##)">##creador##, </span><strong> &nbsp;el dia: </strong>##Fecha##.<br>
	    Numero de comentarios: ##ncomentarios##
	    <span onclick="eliminarForo(##idpost##)" style="color: red">Eliminar</span> <br>
	    <div style="visibility: hidden">##idpost##</div>
	    ##fila##
    </div>

	
	<div class="dataTables_paginate fg-buttonset ui-buttonset fg-buttonset-multi ui-buttonset-multi paging_full_numbers">
			<!-- Después colocar un botón para volver a la página anterior -->
			##anterior##
			<a href="#" onclick="cargar('##letra##',##paginaanterior##)" class="previous fg-button ui-button ui-state-default ui-state-disabled">Anterior</a>
			##anterior##

			<!-- Seguidamente colocar los números de páginas después de colocar el botón de volver -->
			##paginas##
			<a href="#" onclick="cargar('##letra##',##numeropagina##)" style="background-color: ##color##;" class="fg-button ui-button ui-state-default">##numeropagina##</a>
			##paginas##

			<!-- Por último colocar el botón de siguiente página -->
			##siguiente##
			<a href="#" onclick="cargar('##letra##',##paginasiguiente##)" class="next fg-button ui-button ui-state-default">Siguiente</a>
			##siguiente##
	</div>