body, html {
	height: 100%;
	font-family: sans-serif;
}

.mensaje {
	background-color: white;
	display: block;
 	width: 30%;
  	position: absolute;
	height: 250px;
	z-index: 15;
	top: 50%;
	left: 50%;
	margin: -100px 0 0 -150px;
	border: 4px;
	border-style: solid;
	text-align: center;
}

h2,h3 {
	 text-align: center;
	 font-family: sans-serif;
	 font-weight: bold;
	 color: #28b779;
}

.enlace {
	font-family: fantasy;
	font-size: 30px;
	color: #ffb848;
}