<label for="idmunicipio">Seleccione un municipio: </label> 
<select name="municipio" id="idmunicipio">
	<option value="" selected="selected" disabled>-- Seleccione un municipio --</option>			
	##fila##
	<option value="##idmunicipio##">##municipio##</option>
	##fila##
</select><br>