	<!-- Fichero html que contiene las solicitudes de verificacion de la pagina web -->
            <table class="table table-bordered table-striped">
              <thead>
                <tr>
                  <th>Nick de usuario</th>
				  <th>Correo electrónico</th>
				  <th>Fecha</th>
			      <th>Acción</th>
                </tr>
              </thead>
              <tbody>
              	##fila##
                <tr class="odd gradeX">
                 	<td><span id="spanUsuario" onclick="verPerfil('##Nick##')">##Nick##</span></td>
					<td>##Correo##</td>
					<td>##Fecha##</td>
					<td> <span onclick="abrirSolicitud('##Solicitud##')" id="spanEnlace">Ver solicitud</span></td>
                </tr>
				##fila##
              </tbody>
            </table>
		    <br>
		<div class="dataTables_paginate fg-buttonset ui-buttonset fg-buttonset-multi ui-buttonset-multi paging_full_numbers">
			<!-- Después colocar un botón para volver a la página anterior -->
			##anterior##
			<a href="#" onclick="cargar('##letra##',##paginaanterior##)" class="previous fg-button ui-button ui-state-default ui-state-disabled">Anterior</a>
			##anterior##

			<!-- Seguidamente colocar los números de páginas después de colocar el botón de volver -->
			##paginas##
			<a href="#" onclick="cargar('##letra##',##numeropagina##)" style="background-color: ##color##;" class="fg-button ui-button ui-state-default">##numeropagina##</a>
			##paginas##

			<!-- Por último colocar el botón de siguiente página -->
			##siguiente##
			<a href="#" onclick="cargar('##letra##',##paginasiguiente##)" class="next fg-button ui-button ui-state-default">Siguiente</a>
			##siguiente##
		</div>