	<!-- Fichero html que contiene los usuarios de la pagina web -->
            <table class="table table-bordered table-striped">
              <thead>
                <tr>
                  <th>Nombre de Usuario</th>
                  <th>Nick de usuario</th>
                  <th>Correo electrónico</th>
                  <th>Estado Actual</th>
                  <th>Acción</th>
                </tr>
              </thead>
              <tbody>
              	##fila##
                <tr class="odd gradeX">
                 	<td>##Usuario##</td>
					<td><span id="spanUsuario" onclick="verPerfil('##Nick##')">##Nick##</span></td>
					<td>##Correo##</td>
					<td>##Estado##</td>
					<td><span style="color:##coloraccion##" onclick="cambiarEstadoUsuario(##id##,'##Correo##')">##Accion##</span></td>
                </tr>
				##fila##
              </tbody>
            </table>
		    <br>
		<div class="dataTables_paginate fg-buttonset ui-buttonset fg-buttonset-multi ui-buttonset-multi paging_full_numbers">
			<!-- Después colocar un botón para volver a la página anterior -->
			##anterior##
			<a href="#" onclick="cargar('##letra##',##paginaanterior##)" class="previous fg-button ui-button ui-state-default ui-state-disabled">Anterior</a>
			##anterior##

			<!-- Seguidamente colocar los números de páginas después de colocar el botón de volver -->
			##paginas##
			<a href="#" onclick="cargar('##letra##',##numeropagina##)" style="background-color: ##color##;" class="fg-button ui-button ui-state-default">##numeropagina##</a>
			##paginas##

			<!-- Por último colocar el botón de siguiente página -->
			##siguiente##
			<a href="#" onclick="cargar('##letra##',##paginasiguiente##)" class="next fg-button ui-button ui-state-default">Siguiente</a>
			##siguiente##
		</div>